body{
   background: #5e0101
}

a{
   color:#a50808 ;
}

#banner{
   width: 40%;
   margin: 5%;
   border-radius: 100px
}
#banner1{
   width: 64.5%;

}
#banner2{
   width: 86.5%;
}
#banner3{
   width: 50%;
}
.caixa{
   position: relative;
}
header{
   background-image:url(carbono.jpg);
}
nav li{
   display: inline;
   margin: 5px; /*espasçamento*/
}
nav a{
   text-transform: uppercase;
   font-weight: bold;
   font-size: 30px;
   text-decoration: none;
   box-sizing: border-box;
   border-style: outset;
   border-width: 8px;
   border-radius: 8px;
   background: #FFFFFF;
   border-color: #FFFFFF;
   color:#a50808;
}

nav a:active{
   color:#000000;
}

nav{
   position: absolute;
   top: 200px;
   left: 680px;
}

.produto li{
   display: inline-block;
   text-align: center;
   width: 23%;
   vertical-align: top;
   margin: 5%;
   box-sizing: border-box;
   border-style: outset;
   border-width: 8px;
   border-radius: 8px;
   background: #FFFFFF;
}

.produto li:hover{
   border-color:#a50808;
}
.produto li:active{
   border-color:#000000;
}
.produto li:hover h2{
   font-size:20px;
}