#banner{
   width: 50%;
   margin: 5%;
   border-radius: 100px
}
#banner1{
   width: 64.5%;

}
#banner2{
   width: 86.5%;
}
#banner3{
   width: 50%;
}
.caixa{
   position: relative;
   width: 940px;
   right: 0 auto;
}
header{
   background: #CCCCCC;
}
nav li{
   display: inline;
   margin: 15px; /*espasçamento*/
}
nav a{
   text-transform: uppercase;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;
}

nav{
   position: absolute;
   top: 110px;
   right: 0;
}

.produto li{
display: inline-block;
text-align: center;
width: 23%;
vertical-align: top;
margin: 5%;
box-sizing: border-box;
border-style: outset;
border-width: 8px;
border-radius: 8px;
background: #FFFFFF;

}

.produto li:hover{
   border-color:#FFFFFF;
}
.produto li:active{
   border-color:#0000FF;
}
.produto li:hover h2{
   font-size:35px;
}